{% extends 'base.html' %}

{% load static %}

{% block content %}



<div class='row justify-content-center success-page'>
  <div class='col-sm-9'>
    <div class='row'>
      <div class='col-sm-4'>
        <h3>Status: 403 Permission Denied</h3>
        <h1>I'm afraid your not allowed to do that.</h1>
      </div>
      <div class='col-sm-8'>
        <p>Head back home and give it another shot.</p>
        <a class='btn btn-primary' href='/'>Home</a>
      </div>
    </div>
  </div>
</div>




{% endblock %}
